body {
    background-image: url("../assets/bkground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    width: 400px;
    max-width: calc(100% - 40px);
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.650);
    text-align: center;
    color: white;
}
h2 {
    color: #1f99c5;
}
label {
    text-align: left;
    padding: 10px;
}
.loginimg {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0;
}
input {
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
button {
    width: 50%;
    padding: 12px;
    background: #1f99c5;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bolder;
}
button:hover {
    background-color: aqua;
}
a {
    color: #1f99c5;
}
a:hover {
    background-color:aqua;
}
.message {
    min-height: 20px;
    font-weight: bold;
}
.message.success {
    color: #49d97d;
}
.message.error {
    color: #ff7070;
}
